language: ruby
rvm:
  - ruby-2.0
  - ruby-2.1
  - ruby-head
before_install:
  - source /etc/lsb-release && echo "deb http://download.rethinkdb.com/apt $DISTRIB_CODENAME main" | sudo tee /etc/apt/sources.list.d/rethinkdb.list
  - wget -qO- http://download.rethinkdb.com/apt/pubkey.gpg | sudo apt-key add -
  - sudo apt-get update -q
  - sudo apt-get install rethinkdb
  - sudo cp /etc/rethinkdb/default.conf.sample /etc/rethinkdb/instances.d/instance1.conf
  - sudo service rethinkdb restart
script: bundle exec rake test
notifications:
  email:
    on_success: never
    on_failure: change
bundler_args: --without development
script: bundle exec rspec spec
